@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-image: linear-gradient(rgb(231, 133, 5), rgb(61, 155, 37));
}

.header{
    padding: 30px;
    background-image: linear-gradient(rgb(8, 196, 196), yellow);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.header h1{
    font-size: 50px;
}

.topnav{
    overflow: hidden;
    background-color: #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}


.logo img{
    width: 130px;
    height:130px;
    float: left;
  }

.leftcolumn{
    float:left;
    width: 75%;
    border-radius: 25px;
}

.rightcolumn{
    float: left;
    width:25%;
    padding-left: 20px;
    border-radius: 25px;
}

img{
    width: 100%;
    padding: 20px;
}

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
    border-radius: 25px;
}

@media screen and (max-width: 800px){
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px){
    .topnav a{
        float: none;
        width: 100%;
    }
}
